body {
  /* background-color: rgba(255,151,0,.2); */
  background-image: url(images/school.png);
}

#game-screen {
  margin: 30px 10px;
}

.btn-orange {
  color: #fff;
  background-color: #ff9700;
  border: 2px solid #fff;
  margin: 15px 5px !important; /*submit feedback button on modal wasn't getting margin added*/
}

.btn-orange:hover {
  color: #fff;
  background-color: #d98000; 
  border-color: #d98000;
}

#lego-helper {
  position: fixed;
  bottom: 0;
  right: 5%;
  width: 300px;
}