body {
  text-align: center;
}

h2 {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 72px;
  color: #111;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  color: #111;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.primary {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #ff9700;
  color: #fff;
  margin: 10px;
}

.color-two {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #d98000;
  color: #fff;
  margin: 10px;
}

.color-three {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #a76300;
  color: #fff;
  margin: 10px;
}

.color-four {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #ffc570;
  color: #000;
  margin: 10px;
}

.color-five {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #ffdaa4;
  color: #000;
  margin: 10px;
}

.bg-one {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #505050;
  color: #000;
  margin: 10px;
}

.bg-two {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #ded7d2;
  color: #000;
  margin: 10px;
}

.overlay {
  position: relative;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255,255,255,.5);
}